body{
    background-image: url('image/wallpaper001.jpg');
}

div.quadrado{
    border: 2px solid black;
    display: inline-block;
    width: 300px;
    height: 300px;
}

#q1{
    background-color: brown;
}

#q2{
    background-image: linear-gradient(to right, yellow, rgb(0, 255, 13));
}

#q3{
    background-image: url('image/pattern001.png');
}